/* Three image containers (use 25% for four, and 50% for two, etc) */
*{
	margin:0;
}
.conatiner{
	display:flex;
	flex-direction:row;
	align-items:center;
	
}
.row1, .row2 , .row3{
  display:flex;
}
.column{
	flex:active;
	padding:1px;
}
