/* Three image containers (use 25% for four, and 50% for two, etc) */
*{
	margin-right:auto-flow;
}
.conatiner{
	display:flex;
	flex-wrap: wrap;
	flex-direction:row;
	align-items:center;
	
}
.row1, .row2 , .row3{
  display:flex;
	
	padding: 1px;
}

